* {
  box-sizing: border-box;
}

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  padding: 2rem;
}

.left-box,
.right-box {
  margin-bottom: 2rem;
}

h1 {
  color: var(--dark-magenta);
  font-weight: 700;
  margin-bottom: 1rem;
}

.left-box p {
  color: var(--dark-gray-magenta);
  font-weight: 400;
}

.first-review,
.second-review,
.last-review {
  background-color: var(--light-gray-magenta);
}

.right-box p {
  color: var(--dark-magenta);
  font-weight: 700;
}

.first-comment,
.second-comment,
.last-comment {
  background-color: var(--dark-magenta);
}

.bottom-part h3,
.bottom-part p {
  color: var(--white);
}

.bottom-part span {
  color: var(--pink);
}

img {
  border-radius: 50%;
}

@media (min-width: 66em) {
  body {
    background-image: url(/Social-Proof_Section/images/bg-pattern-top-desktop.svg),
      url(/Social-Proof_Section/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    padding: 7rem;
  }

  .container {
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
  }

  .top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .left-box {
    width: 30rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .left-box p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .right-box {
    width: 35rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: column;
  }

  .first-review,
  .second-review,
  .last-review {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }

  .first-review {
    transform: translateX(-6rem);
  }

  .second-review {
    transform: translateX(-3rem);
  }

  .stars {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-part {
    min-height: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .first-comment,
  .second-comment,
  .last-comment {
    width: 24rem;
    min-height: 17rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 1rem;
    padding: 2.7rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
  }

  .first-comment {
    margin-left: 0;
    transform:translateY(-2rem);
  }

  .last-comment {
    margin-right: 0;
    transform: translateY(2rem);
  }

  .top-of-first-comment,
  .top-of-second-comment,
  .top-of-last-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottom-of-first-comment,
  .bottom-of-second-comment,
  .bottom-of-last-comment {
    min-height: 8rem;
  }

  .bottom-part img {
    position: relative;
    top: -0.3rem;
    width: 2.5rem;
    height: auto;
    margin-right: 1.5rem;
  }

  .bottom-part p {
    font-size: 0.7rem;
    line-height: 1.8;
  }

  .right-part h3 {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 65.99em) {
  body {
    background-image: url(/Social-Proof_Section/images/bg-pattern-top-mobile.svg),
      url(/Social-Proof_Section/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
  }

  .container {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1;
  }

  .left-box {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6;
  }

  .first-review,
  .second-review {
    margin-bottom: 1rem;
  }

  .first-review,
  .second-review,
  .last-review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }

  .right-box p {
    font-size: 0.8rem;
  }

  .first-comment,
  .second-comment,
  .last-comment {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
  }

  .top-of-first-comment,
  .top-of-second-comment,
  .top-of-last-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bottom-part img {
    position: relative;
    top: -0.3rem;
    width: 2.5rem;
    height: auto;
    margin-right: 1.5rem;
  }

  .bottom-part p {
    font-size: 0.7rem;
    line-height: 1.8;
  }

  .right-part {
    font-size: 0.6rem;
  }

  .right-part h3 {
    margin-bottom: 0.4rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
